/* 基础样式
   ========================================================================== */

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
